<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mywayapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mywayapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mywayapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mywayapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.DBC, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="area8k" Order="2" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models._8K, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="A3" Order="3" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.A3, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="A9" Order="4" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.A9, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AA" Order="5" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.AA, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AP" Order="6" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.AP, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AQ" Order="7" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.AQ, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AZ1" Order="8" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.AZ1, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Period32C" Order="9" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.Period32C, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="10" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.Entities, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LiveStock" Order="11" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LiveStock_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=vmreplica2008.westeurope.cloudapp.azure.com;initial catalog=MOR-AZURE;user id=sa;password=Pa$$w0rd@633411;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities2" Order="12" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.Entities2, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities1" Order="13" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.Entities1, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Products" Order="14" Enabled="False">
          <Destination Path="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework" Name="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWayAPI.Models.Products, MyWayAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)A3-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)A9-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AA-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AP-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AQ-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)area8k-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AZ1-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataConnection-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.treeSp.csdl|res://*/Models.treeSp.ssdl|res://*/Models.treeSp.msl;provider=System.Data.SqlClient;provider connection string="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PendingStore.csdl|res://*/Models.PendingStore.ssdl|res://*/Models.PendingStore.msl;provider=System.Data.SqlClient;provider connection string="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Invoice.csdl|res://*/Models.Invoice.ssdl|res://*/Models.Invoice.msl;provider=System.Data.SqlClient;provider connection string="Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LiveStock-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Period32C-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Products-Web.config Connection String">
      <ParameterValue>Data Source=vmreplica2008.westeurope.cloudapp.azure.com;Initial Catalog=MOR-AZURE;User ID=sa;Password=Pa$$w0rd@633411;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>